*{
    padding: 0;
    margin: 0;
}
body{
    height:100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
h1{
    color: gray;
    font-size: 100px;
    font-family: 'Dancing Script', cursive;
    cursor: pointer;
    animation: glow 0.5s ease infinite;
}
@keyframes glow {
    from{color:gray;}
    to{color: white;
    text-shadow: 0 0 5px red,0 0 25px red, 0 0 50px red, 0 0 100px red;}
}
h3{
    color: white;
    font-size: 30px;
    text-align: center;
    justify-content: center;
}
button{
    text-align: center;
    margin-left:250px;
    border-radius: 20px;
    cursor: pointer;
    color: red;
    padding: 2px;
    
}
button:hover{
    color: green;
}
img{
    position: relative;
    bottom:10px;
    left: 40px;
    width: 50px;
    height: 50px;
}
